<html>
    <head>
        <title>V-Chrome</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><i class="fa fa-viacoin"></i>-Chrome</a>
                </div>
            </div>
        </nav>
        <div class="big-background">
            <div class="jumbotron">
                <div class="container-fluid">
                    <h2> Successfully assigned {{ client.getName }} to {{ stylist.getName }}</h2>
                    
                </div>
            </div>
        </div>
    </body>
</html>
